* {
	padding:0;
	margin:0;
	box-sizing: border-box;
	color:white;
}


body {
	background: linear-gradient(to right, #004586, #553186);
	
	
}

h1{

    text-align: center;
	padding-top: 20px;
}

p{

    text-align: center;
    font-size: large;
	padding-top: 20px;
}

.search{

    padding-left: 800px;
    justify-items: center;
    padding-top: 20px;
    color:white;
}

#searchInput{
    border-radius: 8px;
	color: white;
	font-size: 25px;
	width: 30%;
	border: none;
	background: rgb(35, 164, 237);
	padding: 15px;
}


.container{
	height: 100vh;
	margin:0 auto;
	width: 95%;
}



.row{
	min-height: 33vh;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap:2vw;
    padding-top: 50px;

}

.row-item {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 26vw;
	width: 22vw;
	
}

.item-image-holder {
	background: white;
	height: 80%;
	width: 100%;
   
    
	
}

.item-title{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 20%;
	
}
.item-image-holder > img {
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: 100% 100%; 
}


.item-title > h1 > a {
	color:white;
	font-size: 24px;
	text-decoration: none;
}






/*Tablet screens*/
@media screen and (max-width: 1200px){


	.main-container{
		width: 99vw;
	}

	h1 {
		font-size:4vw;
	}


	.header > input[type="text"]{	
		width: 31%;
	}

	.row{

		gap:3vw;
		width: 96vw;
	}

	.row-item {
		width: 30vw;
	}

	.item-title > h1 > a {
		font-size: 1.7vw;
	}


} 



/*Phone screens*/
@media screen and (max-width: 600px){
	

	.main-container{
		width: 90vw;
	}

	.header {
		padding:20px 5vw;
		flex-direction: column;
		align-items: flex-start;
		gap:2vh;
	}
	h1 {
		font-size:26px;
	}
	.header > input[type="text"]{	
		width: 100%;
	}


	.row {
		flex-direction: column;
		width: 100%;
		gap:4vh;
	}

	.row-item {
		display: flex;
		align-items: center;
		flex-direction: column;
		height: 70vw;
		width: 100%;
		box-shadow: 1px 1px 50px rgb(39,39,39,0.5);
	}

	.item-title > h1 > a {
		font-size: 20px;
	}

} 